@mixin button-orange-outline {
  @apply rounded-full text-base border-2 border-solid px-6 py-3 text-orange border-orange
  font-bold ease-in duration-300 cursor-pointer bg-transparent;

  &:hover {
    border: 2px solid transparent;
    @apply text-white rounded-full;

    background:
        linear-gradient(to right, #FFC746, #FE9200),
        linear-gradient(to right, #FFC746 , #FE9200);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
}

@mixin button-orange-gradient {
  @apply px-6 py-3 font-bold text-white rounded-full cursor-pointer ease-in duration-1000;
  background: linear-gradient(to right, #FFC746, #FE9200);

  &:hover {
    background: linear-gradient(to left, #FFC746, #FE9200)
  }
}

@mixin text-hover{
  @apply duration-300 cursor-pointer hover:text-orange;
}